*, *:hover{
    transition: 0.3s ease-in-out;
}
*{
    padding: 0px;
    margin: 0px;
    font-family: "Bricolage Grotesque", sans-serif;
  font-optical-sizing: auto;
}
body{
    background-color: rgb(227, 238, 255);
}





.calculadora {
    display: flex;
    margin: 20px auto;
    justify-content: center;
    background: #2f2f2f;
    padding: 15px;
    width: fit-content;
    border-radius: 8px;
    flex-direction: column;
    gap: 15px;
    border-bottom: 8px solid black;
    border-right: 6px solid black;
}
#operaciones, #numeros {
    display: flex;
    gap: 10px;
    justify-content: space-between;
}
#numeros{
    flex-wrap: wrap;
    max-width: 110px;
}
.operacion, .resultados {
    width: min-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#resultado {
    position: relative;
    background-color: #93d927;
    text-align: end;
    padding: 5px 8px;
    color: black;
    border-radius: 4px;
    font-size: 1.3em;
    border-bottom: 3px solid black;
    border-left: 3px solid black;
    box-shadow: 10px -9px 5px -8px rgba(0, 0, 0, 0.75) inset;
    height: 25px;
}
#resultado:before{
    content: "";
    position: absolute;
    z-index: 2;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #d4dfd394;
    filter: blur(14px);
}
.calculadora input {
    width: 30px;
    height: 30px;
    border-radius: 5px;
    color: white;
    outline: outset 2px white;
    font-weight: 700;
    cursor: pointer;
}
input.ope {
    background: #000;
}
input.numero {
    background: #28285c;
}
.calculadora input:hover{
    transform: scale(0.95);
    filter: brightness(1.2);
}
input#igual{
    height: 70px; 
}
input#clear, input#delete, input#igual{
    background-color: tomato;
}

input.ope:disabled {
    filter: contrast(0.6);
    transform: scale(0.8);
    cursor: no-drop;
}

#reloj *{
    font-family: "Stardos Stencil", system-ui;
}

h2#digitalClock {
    font-size: 58px;
    letter-spacing: 6px;
}

article.reloj {
    background: black;
    color: white;
    width: fit-content;
    margin: 30px auto;
    padding: 0px 20px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid #ffffff 5px;
    transform: rotateY(50deg) rotateX(0deg) scaleX(1.5);
    border-right-width: 22px;
    border-top-width: 7px;
    filter: drop-shadow(4px 4px 3px black);
    position: relative;
}
article.reloj::after {
    content: "";
    position: absolute;
    z-index: 1;
    background: black;
    height: 100%;
    width: 20px;
    right: -5px;
    border-radius: 25px;
}
.reloj > h2#digitalClock:after {
    background: #b1f645;
    content: "";
    position: absolute;
    height: 3px;
    width: 22%;
    z-index: 2;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 56%;
    transition: 2s;
}

.reloj > h2#digitalClock:hover::after{
    transition: 2s;
    width: 80%;
    background-color: rgb(17, 255, 0);
}

.dia .active, #fechaDate{
    color: #b1f645;
    font-size: 1.1em;
}
.dia span{
    color: lightblue;
    font-size: 0.8em;
}
h2#digitalClock::before {
    content: "00:00:00";
    position: absolute;
    color: #343434;
    z-index: -1;
}